* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

/*navbar section starts*/
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /*background-color: white;*/
}

.logo {
  letter-spacing: 1px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
}

.nav_list {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.nav_link {
  color: black;
  border-style: solid;
  border-radius: 10px;
  padding: 6px;
  border-color: transparent;
}

a:hover {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  padding: 6px;

}
a:link {
  color: black;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

/* hero section starts*/
.home {
  /*background-image: linear-gradient(
    176deg,
    #1f2833 70%,
    #f4f4f4 calc(70% + 2px)
  );*/
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}

.home .content {
  padding-left: 10rem;
  flex: 1 1 110rem;
  z-index: 1;
}
.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}
.home .image img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #002057;
}
.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
  color: #ff7b00;
}
.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}
.home .content p span {
  font-size: 2.5rem;
  color: rgb(148, 8, 8);
  font-weight: 600;
  padding: 1rem 0;
}
.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home .btn:hover {
  background: #1a047e;
}
.home .btn:hover i {
  transform: translateX(5px);
}


